<!DOCTYPE html>
<html lang="ja">
<head>
	<meta charset="UTF-8">
	<meta name="viewport" content="width=device-width, initial-scale=1.0">
	<title>研究</title>
	<link rel="stylesheet" href="static/css/style.css">
</head>
<body>
	<div class="container">
		<h1>GANによって生成された偽画像の検出</h1>
		<form action="/" method="POST" enctype="multipart/form-data">
			<label for="image">画像(jpgのみ)</label>
			<input type="file" name="image" id="input_image" accept=".jpg">
			<p><button type="submit">判定</button></p>
		</form>
		<div id="preview"></div>
		{% if predict %}
			<script src="static/js/output_image.js"></script>
			<p id="result"><b>{{ proba }}</b> %の確率で{{ predict }}</p>
		{% endif %}
	</div>
	<script src="static/js/script.js"></script>
</body>
</html>
